@font-face {
    font-family: OCRAMedium;
    src: url(fonts/OCRAMedium.ttf);
}
@font-face {
    font-family: TheMIX;
    src: url(fonts/TheMix.ttf);
}
body {
    background-color: #333333;
    background-image: url(https://cdn.discordapp.com/attachments/904061355382935585/1114296028129132564/main.png);
    background-repeat: no-repeat;
    height: 1012px;
    width: 800;
    background-position: center;
}
.logo {
    width: 20%;
    margin-top: 10%;
    margin: 0;
    padding: 0;
}