body {
    background-color: black;
    height: 1012px;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background-position: center;
    text-align: center;
}
@media screen and (max-width: 1000px) {
    .backbutton {
        margin-left: 50%;
    }
}